__pycache__/
kifu/
sgfmill/
checkpoints/
*.sgf
*.ckpt
tflearnImplementation/.ipynb_checkpoints/
tflearnImplementation/__pycache__/
tflearnImplementation/checkpoints/
tflearnImplementation/sgfmill/
gtp/
ioproperties.ini
